*{
    font-family: sans-serif;
}
h2{
    text-align: center;
}
.box-main{
    margin: 0 70px;
    display: grid;
    grid-template: "img-box-main empty " /
                    435px          1fr;
}
img{
    border-radius: 10px;
}
.img-box-main{
    display: grid;
    width: 100%;
    grid-template: "img-box    img-box img-box   img-box" 435px
                   
                    "box-img-1  box-img-2  box-img-3 box-img-4" 90px / 
                    90px          90px          90px         90px;

    grid-column-gap: 10px;
}
.img-box{
    grid-area: img-box;
    width: 100%;
}
.img-mini{
    width: 100%;
    cursor: pointer;
    box-sizing: content-box;
}
.box-img-1{
   grid-area: box-img-1;
}
.box-img-2{
    grid-area: box-img-2;
}
.box-img-3{
    grid-area: box-img-3;
}
.box-img-4{
    grid-area: box-img-4;
}
.box-img-mini{
    border: 2px solid rgb(255, 125, 26);
    border-radius: 15px;
}
.img-mini-act{
    opacity: 0.4;
}
.icon-op{
    font-weight: 900;
    border: 1px solid whitesmoke;
}
.restar-obj{
    width: 50px;
    height: 50px;
    background-color: rgb(230, 230, 230);
    color: rgb(255, 125, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.cant-obj{
    width: 50px;
    height: 50px;
    background-color: rgb(230, 230, 230);
    color: rgb(26, 25, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    /* border-radius: 10px;
    border-bottom: 10px; */
}
.sumar-obj{
    width: 50px;
    height: 50px;
    background-color: rgb(230, 230, 230);
    color: rgb(255, 125, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    border-top-right-radius:  10px;
    border-bottom-right-radius:  10px;
    cursor: pointer;
}
.cant-box{
    display: flex;
    flex-direction: row;

}