*{
    margin: 0%;
    padding: 0%;
}

.icon-style{
    color: deepskyblue;
    font-size: 1.3em;
    padding-right: 5px;
    padding: 3px;
    width: 50px;
    left: 12px;
}
nav{
    background-color: rgb(230, 230, 230);
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
}
ul{ 
    list-style: none;

}
a{
    text-decoration: none;
}
hr{
    padding: 15px;
}

li{
    padding-bottom:  15px;
 
    border: transparent;
}
li:hover{
    background-color: darkgrey;
     border: 1.2em;
   }

   div{
    border-bottom: 1px solid black;
    margin-bottom: 40px;
   }