body {
    background-color: rgb(24,24,24,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-family: "waltograph42";
    font-size: 9em;
    color: rgb(255, 255, 255);    
}
@font-face {
    font-family: "waltograph42";
    src: url(../font/waltograph42.otf);
}