body {
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    

h1 {
    font-family: 'cinzel-v19-latin-regular';
    font-size: 9em;
    color: rgb(230, 175, 74)

}