body {
    background-color: rgb(24,24,24,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h1 {
    font-family: 'font/game of thrones.ttf';
    font-size: 5em;
    color: rgb(158, 134, 63);

}