h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(48,48,48,.8);
}
.box-main-1{
    display: grid;
    grid-template-columns: 200px 100px 300px;
    grid-template-rows: 200px 400px 100px;
    border: 2px solid rgb(64,64,64,.8);
    width: 600px;
}

.box{
    background-color: dodgerblue;
    border: 1px solid white;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1.4em;
}
.box-main-2{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 200px);
    border: 2px solid rgb(64,64,64,.8);
    width: 600px;
}
.box-main-3{
    display: grid;
    grid-template-columns: repeat(2, 220px)1fr;
    grid-template-rows: 100px repeat(2, 200px) 100px;
    border: 2px solid rgb(64,64,64,.8);
    width: 600px;
}
.box3-1{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;
}
.box3-8{
    background-color: darkgrey;
    grid-column-start: 1;
    grid-column-end: 4;
}









