*{
    margin: 0;
    padding: 0;
}
.imagenes {
    padding-left: 30px;

}

img {
    width: 100%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

.box-paisaje{
    width: 29%;
    display: inline-block;
    vertical-align: top;
    margin: 30px 1.5%;
}
p{
    text-align: justify;
}