*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.bar-menu{
    position: fixed;
    color: white;
    font-size: 2.2em;
    top: 15px;
    right: 30px;
    visibility: hidden;
}
.main-nav{
    width: 100%;
    background-color: dimgrey;
    height: 80px;
}
.main-menu{
    list-style: none;
    text-align: right;
}
.href-item{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
.item-main-menu{
    height: 80px;
    display: inline-block;
    padding: 30px 45px;
}
.item-main-menu:hover{
    cursor: pointer;
    background-color: black;
}
@media only screen and (max-width:1152px){
    .main-menu{
    display: none;
    }
    .bar-menu{
        visibility: visible;
    }
}