*{
    margin: 0;
    padding: 0;
}
.menu-bar{
    display: none;
}
nav{
    background-color: dodgerblue;
    width: 100%;
}

nav >ul >li >ul{
    position: absolute;
    display: none;
    
}
ul{
    list-style: none;
    text-align: right;
}
li{
    display: inline-block;
    position: relative;
}
nav ul li:hover{
    background-color: brown;
}
nav ul li a{
    display: block;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    padding: 20px;
}
.children{
    position: absolute;
    display: none;
    background-color: black;
    text-align: left;
}
nav ul li:hover .children{
    display: block;
    width: 100%;
    text-align: left;
}
.children li:hover{
    background-color: brown;
    width: 100%;
    border-bottom: 1px solid black;
}
nav ul li .children li a{
    display: block;
}
.main-content{
    margin: 30px;
}
h1{
    margin: 35px;
    text-align: right;
    color: rgb(64, 64, 64, .8);
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: justify;
}
.icon-chevron-thin-down{
    float: right;
    position: relative;
    top: 3px;
    padding-left: 5px;
}  
@media only screen and (max-width: 720px){
    body{
        padding-top: 70px;
    }
    nav{
        position: fixed;
        height: 100vh;
        width: 60%;
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .menu-bar{
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: darkred;
    }
    .bt-menu{
        display: block;
        padding: 20px;
        color: white;
        font-size: bold;
        text-decoration: none;
    }
    .menu-bar span{
        font-size: 40px;
        float: right;
    }
    nav ul{
        text-align: left;
    }
    nav ul li{
        display: block;
        border-bottom: 1px solid rgb(255, 255, 255, .5);
    }
    nav ul .children{
        position: relative;
        width: 100%;
    }
    nav ul li:hover .children{
        display: none;
    }
} 