body {
    padding: 0%;
    margin: 0%;
}

nav {
 
    
    display: flex;
    justify-content: center;
    align-self: center;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav >ul {
    padding-top: 10px;
    margin: 0%;
    height: 32px;
    padding-right: 2%;
    border-right: 1px solid rgb(214, 99, 32);
}

nav >ul:hover {
    background-color: rgb(229, 229, 229);
}

li {
    list-style: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    min-width: 240px;
}

nav ul li ul li a {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

nav ul li ul li a:hover {
    border-radius: 3px;
    background-color:  rgb(149, 228, 211);
}

nav ul li ul li {
    border-bottom: 1px solid rgb(124, 116, 116);
}

nav ul li ul .transparent {
    border-bottom: 1px solid transparent;
}

nav ul li:hover>ul {
    box-shadow: -1px 1px 10px rgb(116, 116, 116);
    padding: 7px;
    background-color: rgb(145, 145, 145);
    border-radius: 3px;
    display: block;
    cursor: pointer;
}

nav>ul>li {
    float: left;
}
.inline{
    position: relative;
    right: 2%;
    border-radius: 3px;
    height: 70px;
    width: 15%;
    background-color:  rgb(170, 170, 170);
}
div ul .inline{ 
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
}
div ul .inline:hover{
    
    background-color:  rgb(134, 133, 133);
    cursor: pointer;
}
div ul  .inline a{
    color: rgb(0, 0, 0);
}
