*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container{
    width: 100%;
    height: 50px;
    display: flex;
}

.header {
    width: 100%;
    background-color: RGB(255,241,89);
    height: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template:"logo seeker hamburger cart"50px/
                    85px 1fr 42px 42px;
}

img{
    width: 60%;
}
.imagen{
    width: 100px;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen:hover{
    cursor: pointer;
}
.seeker{
    grid-area: seeker;
    width: 100%;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template:"magni main-seeker"50px/
                    40px   1fr;
}

.magini{
    grid-area: magni;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
}
.main-seeker{
    grid-area:main-seeker;
    width: 100%; 
    height: 40px;
}

.input-seeker{
    width: 90%;
    height: 40px;
    border: none;
}
.box-auto{
    margin-top: 20px;
    display: grid;
    grid-template:"empty-left box-img box-info empty-right" /
                   20px       6fr     7fr      20px;
}
.box-img {
    grid-area: box-img;
}

.box-info{
    grid-area: box-info;
    margin-left: 15px;
    
}

.img-auto {
    width: 100%;
    position: relative;
    top: -20px;
    z-index: 10;
}
.box-corazon{
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
}
.corazon{
    width: 28px;
    height: 28px;
    border-radius: 14px;
    position: relative;
    left: -10px;
    background-color: rgb(255, 255, 255, .5);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img:hover{
    cursor: pointer;
}

.box-img:hover > .box-corazon{
visibility: visible;
}
.icons-style-hearth{
    color: rgb(57, 57, 233, .8);

}
.info-marca{
    display: flex;
    flex-direction: row;
}
.txt-precio {
    font-size: 1.6em;
    font-weight: 400;
}
.txt-marca,.txt-modelo {
    font-size: .8em;
    margin-right: 10px;
}
.box-procedencia{
    font-size: .7em;

}
.box-linea-div{
    height: 1px;
    background-color: rgb(200, 200, 200, .6);
}
.cart:hover{
    cursor: pointer;
}

.hamburger:hover {
    cursor: pointer;
}