*{
    padding: 0;
    margin: 0;
}
.box-1 {
    width: 500px;
    height: 100px;
    border: 1px black solid;
    margin: 150px;
}
.box-2 {
    width: 150px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 100%;
    left: 30ps;
}
.box-3 {
    width: 150px;
    height: 100px;
    background-color: rgb(156, 44, 154);
    position: relative;
    top: 100%;
    left: 30ps;
}
.box-6 {
    width: 150px;
    height: 100px;
    background-color: rgb(156, 44, 154);
    left: 100%;
    position: relative;
    margin: 5px;
    display: none;  
}
.box-7 {
    width: 150px;
    height: 100px;
    background-color:rgb(156, 44, 154);
    left: 100%;
    top: 5px;
    position: relative;
    margin: 5px;
    display: none;
}
.box-4 {
    width: 150px;
    height: 100px;
    background-color: rgb(32, 119, 76);
    position: relative;
    top: 100%;
    left: 30ps;
}
.box-5 {
    width: 150px;
    height: 100px;
    background-color: rgb(193, 196, 44);
    position: relative;
    top: 100%;
    left: 30ps;
}
.box-3:hover{
    background-color:rgb(156, 44, 154);
}
.box-3:hover .box-6, .box-7{
    display: block;
    position: relative;
}

