* {
    padding: 0;
    margin: 0;
}

.box-main {
    background-image: url('../img/mentor/destination/background-destination-desktop.jpg');

}

.box-dos {
    display: grid;
    gap: 40px;
    grid-template-rows: 50px 1fr 20%;
}

.content-planeta{
    width: 70%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.227);
    padding-bottom: 40px;
}

.content-planeta h3{
    font-size: 6em;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.nav-planetas {
    display: grid;
    grid-template-columns: 30%;
}

.planeta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.735);
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.texto-abajo{
    font-size: 1.5em;
}
.texto-arriba{
    font-size: 0.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}